header {
  border-bottom: 1px solid gray;
  padding 20px;
}

nav {
  border-right: 1px solid gray;
  width: 20%;
  height: 600px;
  float: left;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding:0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

body.black {
  background-color: black;
  color: white;
}

body.white {
  background-color: white;
  color: black;
}

ol.postingOrder {
  list-style:none;
  padding:0;
  float:left;
}

a.writePost {
  float:none;
}
